.inline-card {
	--bg-color: transparent;
	--button-color: #77738ccc;
	--button-color-hilite: white;
	--bg-inline-padding: 4px;
	--bg-block-padding: 1px;
	--image-size: 1em;
	--min-text-width: 5.5ch;

	font: inherit;
	display: inline-grid;
	align-items: baseline;
	grid-template-columns: minmax(0, min-content) [start] minmax(0, min-content) [copy] minmax(0, min-content) [end] minmax(0, min-content);
	grid-template-rows: [start] min-content [end];

	margin-block: 1px;
	padding-inline: var(--bg-inline-padding);
	padding-block: var(--bg-block-padding);
	background: var(--bg-status-color, var(--bg-color));
	border-radius: 0.15em;
	min-width: calc(var(--image-size) + var(--min-text-width) + (var(--bg-inline-padding) * 2));

	> data { min-width: var(--min-text-width) }

	data {
		line-height: 1em;
		color: var(--text-color);
		padding-inline: 0.25em;
		text-align: center;
		pointer-events: none;
	}

	svg, img { font-size: var(--image-size); }

	[role=img] :only-child {
		display: inline-block;
		vertical-align: -0.15em;

		&:is(img) {
			aspect-ratio: 1;
			max-width: var(--image-size);
		}
	}

	> [role=img] { 
		grid-area: start / start / end / copy;
		:focus-within > &, :hover > & { opacity: 0 }
	}

	> data { 
		grid-area: start / copy / end / end;
		:focus-within > &, :hover > & { opacity: 0 }
	}

	> [role=menu] {
		background: var(--bg-status-color, var(--bg-color));
		display: inline-grid;
		grid-area: start / start / end / end;
		grid-template-columns: minmax(0, max-content) max-content;
		align-items: baseline;

		opacity: 0;
		:hover > &, :focus-within > & { opacity: 1 }

		> button {
			font: inherit;
			appearance: none;
			background: transparent;
			padding: 0;
			border: 0 none;
			outline: none;

			display: grid;
			grid-template-columns: minmax(0, min-content) 1fr min-content;
			align-items: baseline;
			cursor: pointer;
			pointer-events: all;

			&:is(button + *) { margin-left: 0.25em }

			> :has(data) { overflow: hidden }

			> :has(svg):has(span) {
				font-size: 0.9em;
				background: var(--button-color);
				color: var(--text-color);
				border: 0 none;
				border-radius: 3px;
				padding: 0 0.25em;
				vertical-align: text-bottom;

				svg {
					display: inline-block;
					vertical-align: -0.125em;
				}

				span {
					display: none;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.8em;
					vertical-align: 0.05em;
				}

				&:is(:is(:hover,:focus) > *) {
					color: black;
					background: var(--button-color-hilite);
					outline: none;

					&:is([aria-label="Spell-out actions"] *) {
						svg { display: none }
						span { display: inline-block }
					}
				}
			}
		}
	}

	&:has([role=alert]) {
		--bg-status-color: #c05858; /* dark red */
		min-width: calc(var(--image-size) + var(--min-text-width) + (var(--bg-inline-padding) * 2) + 4ch);

	}

	[role=alert] {
		color: #e6cb1f; /* bright yellow */
		cursor: pointer;

		&:has(+ *) { margin-right: 0.25em }
		&:is(* + [role=alert]) { margin-left: 0.25em }
	}
}
