.multiline-card {
	--bg-color: #444;
	--button-color: #77738ccc;
	--image-size: 2.25rem;
	--min-text-width: 5.5ch;
	--x-space: 0.5rem;
	--y-space: 0.425rem;
	--edge-roundness: 3px;
	--status-backdrop-color: #303030ed;
	--status-success-color: #4fb64f;

	font: inherit;
	display: inline-grid;
	grid-template-columns: [left] minmax(0, min-content) [data] minmax(0, max-content) [right];
	grid-template-rows: [top] min-content [sub] min-content [bottom];
	column-gap: var(--x-space);
	row-gap: 2px;
	padding-block: var(--y-space);
	padding-inline: var(--x-space);
	background-color: var(--bg-color);
	border-radius: var(--edge-roundness);
	min-width: calc(var(--min-text-width) + var(--image-size) + (var(--x-space) * 3));

	data {
		line-height: 1em;
		color: var(--text-color);
		text-align: left;
		min-width: var(--min-text-width);
	}

	button {
		font: inherit;
		background: var(--bg-color);
		border: 0 none;
		padding: 0;
		cursor: pointer;

		&:hover, &:focus { background: var(--bg-color) }
	}

	> [role=img] { 
		grid-area: top / left / bottom / data;
		align-self: center;
		font-size: var(--image-size);
		line-height: 1;

		& svg, img {
			display: inline-block;
			vertical-align: -0.15em;
		}
	}

	> :has(data ~ button) {
		display: inline-grid;
		align-items: baseline;
		grid-template-columns: [left] minmax(0, min-content) [right];
		grid-template-rows: [top] min-content [bottom];

		/* title */
		&:nth-of-type(2) { 
			grid-area: top / data / sub / right;
			data {
				font-weight: 600;
			}
		}

		/* subtitle */
		&:nth-of-type(3) { 
			grid-area: sub / data / bottom / right;
			data {
				font-size: 0.825em;
				color: var(--disabled-text-color);
			}
		}

		> data { grid-area: top / left / bottom / right }

		> button {
			grid-area: top / left / bottom / right;
			display: inline-grid;
			align-items: baseline;
			grid-template-columns: minmax(0, 1fr) min-content;
			background-color: var(--bg-color);
			opacity: 0;
			outline: none;

			&:is(.multiline-card:hover *, .multiline-card:focus-within *) { opacity: 1 }

			&:hover, &:focus {
				> span {
					background: white;
					color: black;

					span { display: inline }
					svg { display: none }
				}
			}

			> span { 
				background: var(--button-color);
				color: white;
				font-size: 0.8em;
				font-weight: 600;
				padding-inline: 0.25em;
				border-radius: 2px;
				text-transform: uppercase;
				line-height: 1.4;

				span { 
					display: none; 
					font-size: 0.8em;
				}

				svg {
					display: inline-block;
					vertical-align: -0.125em;
				}
			}
		}
	}

	> [role=status] {
		grid-area: top / left / bottom / right;
		display: grid;
		grid-template-columns: min-content min-content;
		place-content: center;
		column-gap: 0.25em;
		margin-inline: calc(var(--x-space) * -1);
		margin-block: calc(var(--y-space) * -1);
		border-radius: var(--edge-roundness);
		align-items: center;
		background: var(--status-backdrop-color);
		color: var(--status-success-color);
		outline: 1px solid opacity(var(--status-success-color));

		svg { grid-column: 2 / 3 }
		span { 
			grid-column: 3 / 4;
			font-size: 0.875em;
		}

	}
}

.tooltip {
	background: #222222;
	color: #ffffff;
	padding: 0.3125rem 0.6875rem;
	border: 0 none;
	border-radius: 4px;
	font-size: 0.8125rem;
	white-space: nowrap;
	pointer-events: none;
	margin: 0;
	/* transform: translate(-50%; 0.5em); */
}
