.demo {
	position: fixed;
	inset: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	display: grid;
	place-content: center;
}

.resizer {
	resize: horizontal;
	overflow: scroll;
	padding: 1rem;
	width: fit-content;
	border: 1px solid orange;
	position: relative;
	min-width: 14ch;
}

.resizer + div {
	position: absolute;
	top: 100%;
	right: 0;
	color: orange;
	font-size: 0.8rem;
	white-space: nowrap;
}


.actions-settings {
	display: grid;
	grid-template-columns: min-content auto;
	column-gap: 0.5rem;
}
